<link rel="stylesheet" href="/src/components/StylesFooter.css" />

<footer class="site-footer">
    <div class="footer-main">
      <div class="footer-company">
        <div class="footer-logo">
          <a href="//127.0.0.1:5500/Nhom20_FigmaToCode/trangchu/index.html">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9017415ea81317b220dff69889cebe46c95456b"
            alt="Company logo"
            class="company-logo"
          />
          </a>
          <div class="company-name">Học Lập Trình Để Đi Làm</div>
        </div>
        <div class="footer-contact">
          <div class="contact-item">
            <span>Điện thoại:</span>
            <a href="tel:0911119999" class="contact-link">09 1111 9999</a>
          </div>
          <div class="contact-item">
            <span>Email:</span>
            <a href="mailto:abcdefg@website.edu.vn" class="contact-link"
              >abcdefg@website.edu.vn</a
            >
          </div>
          <div class="contact-item">
            Địa chỉ: Số 1, ngõ 41, ABCD, Thủ Đức, TP.HCM
          </div>
        </div>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b5202353b8c112592af5fa83e4e37a4c2001b382"
          alt="DMCA Protected"
          class="dmca-badge"
        />
        <div class="copyright">
          © 2018 - 2025 F8. Nền tảng học lập trình hàng đầu Việt Nam
        </div>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <h3 class="footer-heading">VỀ F8</h3>
        <a href="/src/pages/user/about_contact/about.html" class="footer-link">Giới Thiệu</a>
        <a href="/src/pages/user/dksd/index.html" class="footer-link">Điều khoản</a>
        <a href="/src/pages/user/privacy/privacy-policy.html" class="footer-link">Bảo mật</a>
        <a href="/src/pages/user/about_contact/contact.html" class="footer-link">Liên hệ</a>
      </div>
      <div class="footer-column">
        <h3 class="footer-heading">SẢN PHẨM</h3>
        <a>game nester</a>
        <a>Tạo CV xin việc</a>
        <a>Game scoops</a>
      </div>
      <div class="footer-column">
        <h3 class="footer-heading">CÔNG TY CỔ PHẦNCÔNG NGHỆ GIÁO DỤC F8</h3>
        <p class="footer-text">Mã số thuế: 011111111111</p>
        <p class="footer-text">Ngày thành lập: 04/03/2022</p>
        <p class="footer-text">
          Lĩnh vực hoạt động: Giáo dục, công nghệ - lập trình. Chúng tôi tập
          trung xây dựng và phát triển các sản phẩm mang lại giá trị cho cộng
          đồng lập trình viên Việt Nam.
        </p>
      </div>
    </div>
  </footer>