<link rel="stylesheet" href="/src/components//StylesSidebar.css">
<!-- đây là phần sidebar -->
<nav class="sidebar-nav" style="height: 545px" data-metatip="true">
    <a href="/src/pages/user/trangchu/index.html" class="nav-item" role="button" aria-label="Trang chủ">
      <i class="ti ti-home"></i>
      <span>trang chủ</span>
    </a>
    <a href="/src/pages/user/Lo_trinh/index.html" class="nav-item" role="button" aria-label="Lộ trình học tập">
      <i class="ti ti-road"></i>
      <span>Lộ trình</span>
    </a>
    <a href="/src/pages/user/BaiVietNoiBat/index.html" class="nav-item" role="button" aria-label="Xem bài viết">
      <i class="ti ti-news"></i>
      <span>Bài viết</span>
    </a>
    <a href="/src/pages/user/btm/news-feed.html" class="nav-item" role="button" aria-label="Xem bản tin">
      <i class="ti ti-bell"></i>
      <span>Bản tin</span>
    </a>
</nav> 
<!---->>